	
		<div class="text-danger" data-alert='alert'>
	        <a class="close" data-dismiss='alert'>x</a>
			<%= (pluralize(@book.errors.size  , "error")) %>
			<ul>
				<% @book.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>	

		