<div class='container' id='home-container'>
	<div class='row'>
		<%= image_tag('header.jpg', alt:'header', class:'img-responsive',width:'100%') %>
	</div>
	<div class='btn-success-div'>
		<%= link_to 'GO BACK', new_home_path,class:'btn btn-default'  %>
	</div>

	<div class='row' id='book-div'>

			<%= render 'table_view' %>
				
	</div>


</div>